
h2{
    color: aliceblue;
    
}

a{
    padding: 20px 40px;
    padding-bottom: 0px;
    align-items: center;
    text-decoration: none;
    color: rgba(35, 145, 77, 0.664);
    
}

.intro {
  background-color: rgba(240, 255, 255, 0.637);
  
}

.typewriter h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 80% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent }
  }

  .home-flex-container{
    display: flex;
    flex-direction: row;
    
    padding:12px;
    gap:15px;
    
  }
  
  @media (max-width: 600px) {
    .home-flex-container {
      flex-direction: column;
    }
  }

  .project-flexcontainer{
    display: flex;
    flex-direction: row;
    
}

@media (max-width: 600px) {
    .project-flexcontainer {
      flex-direction: column;
    
    }
  }